extends ../node_modules/jade-bootstrap/_bootstrap
append styles
  //- Custom styles for this template
  link(href='/stylesheets/style.css', rel='stylesheet')
block body
  +navbar-fixed("Finished.me","navbar","inverse")
    +nav_item("#","active") Home
    +nav_item("#") About
    +nav_item("#") Contact
  .container.theme-showcase(role='main')
    .jumbotron
      form.form-signin(method="POST" action=`/users/${id}/category/${category}`)
        h1.form-signin-heading= category
        label.sr-only(for='title')= category
        input#inputEmail.form-control(type='text', placeholder='', name='title', required='', autofocus='')
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Add
      .table-response
        table.table.table-striped
          thead
            tr
              th Title
          tbody
          for item in items
            tr
              td= item.title
                span.pull-right
                  form(method="POST" action=`/users/${id}/category/${category}/delete`)
                    input(type="hidden", name="id", value=`${item.id}`)
                    button.icon-button.glyphicon.glyphicon-trash(type='submit')